<a href="https://colab.research.google.com/github/limapablode/DIO-LiveCoding-AWS-BigData/blob/master/data_saving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.4 MB/s
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [3]:
import pandas as pd
import yfinance as y

In [4]:
petr = y.download('petr4.sa', period ='5y')

[*********************100%***********************]  1 of 1 completed

In [6]:
petr.head()

             Open   High    Low  Close  Adj Close    Volume
Date
2016-12-27  14.50  14.55  14.26  14.41  10.865561  14949200
2016-12-28  14.43  14.81  14.36  14.78  11.144551  18979900
2016-12-29  14.85  14.88  14.52  14.87  11.212414  18090600
2017-01-02  14.64  14.70  14.60  14.66  11.054066   7525700
2017-01-03  14.95  15.65  14.95  15.50  11.687451  39947800

In [7]:
petr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1243 entries, 2016-12-27 to 2021-12-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1243 non-null   float64
 1   High       1243 non-null   float64
 2   Low        1243 non-null   float64
 3   Close      1243 non-null   float64
 4   Adj Close  1243 non-null   float64
 5   Volume     1243 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 68.0 KB

In [8]:
type(petr)

pandas.core.frame.DataFrame

In [9]:
petr.to_excel('dados_petrobras.xlsx')